<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link href= '../static/styles/login.css' rel="stylesheet" type="text/css" />
</head>
<body>
<div class="login-form">
  <form method="POST" action="">
    <h1><strong>Login</strong></h1>
    {{ form.hidden_tag() }}
    <div class="content">
      <div class="input-field">
        {{ form.username }}
      </div>
      <div class="input-field">
        {{ form.password }}
      </div>
      {% if error %}
      <p class="error"> {{ error }} </p>
      {% endif %}
    </div>
    <div class="action">
        {{ form.submit(class = 'log') }} 
    </div>
  </form>
  <a href="{{ url_for('register') }}" class="link">Register</a>
</div>
</body>
</html>

<!-- General tmplate was found at https://www.codehim.com/collections/login-page-in-html-with-css-code/
Author: Nitesh Kumar Niranjan-->